{% extends 'layout.html' %}
{% block content %}
  <center>
    <h1>ITEMS-List</h1>
  </center>
  <hr />
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <a href="{% url 'edit' item.id %}">Edit</a>
            </td>
            <td>
              <a href="{% url 'delete' item.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
